.auth-bar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-family: Arial, sans-serif;
}

.auth-link {
    margin-right: 15px;
    text-decoration: none;
    color: #1f6691;
    font-weight: bold;
}

.auth-username {
    margin-right: 10px;
    font-weight: bold;
}

.switch-auth-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.switch-auth-link a {
    color: #1f6691;
    text-decoration: none;
    font-weight: bold;
}

.switch-auth-link a:hover{
    text-decoration: underline;
}