body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #1f6691;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 100%; /* Задаем ширину для всех полей ввода */
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

input:focus {
    outline: none;
    border-color: #1f6691;
}

button {
    background-color: #1f6691;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #155c7e;
}

.form-group {
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}