<!--** загружаем static для корректного подключения CSS и JavaScript ** -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Конвертер валют</title>
    <!--** загрузка Select2 и CSS ** -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'converter/converter.css' %}">


</head>

<body>
<div class="converter">
    <div class="currency-box">
        <!-- Первое поле для ввода валюты -->
        <input value=1 class="only_number_input" id="input1" inputmode="decimal" maxlength="20"
               oninput="updateOutput('input1', 'input2', 'currency1', 'currency2')"/>
        <!-- Выпадающий список для выбора валюты -->
        <select id="currency1" class="currency-select">
            {% for currency in currencies %}
                <option value="{{ currency.code }}"
                        {% if currency.code == default_currency_2.code %}selected{% endif %}>
                    {{ currency.code }} — {{ currency.name }}
                </option>
            {% endfor %}
        </select>
    </div>


    <!--** кнопка для смены местами валют ** -->
    <button class="swap-btn">⇆</button>

    <div class="currency-box">
        <!-- Второе поле для ввода валюты -->
        <input id="input2" class="only_number_input" inputmode="decimal" maxlength="20"
               oninput="updateOutput('input2', 'input1', 'currency2', 'currency1')"/>
        <!-- Выпадающий список для выбора валюты -->
        <select id="currency2" class="currency-select">
            {% for currency in currencies %}
                <option value="{{ currency.code }}"
                        {% if currency.code == default_currency_1.code %}selected{% endif %}>
                    {{ currency.code }} — {{ currency.name }}
                </option>
            {% endfor %}
        </select>
    </div>


</div>
<!-- Внедряем данные из Python в JavaScript -->
{{ rates|json_script:"rates-data" }}

<!-- Подключение скрипта для конвертера -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Подключение скрипта для работы с валютами и манипуляций с DOM -->
<script src="{% static 'converter/converter.js' %}"></script>

</body>

</html>
