<!--** загружаем static для подключение js  css ** -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Конвертер валют</title>
    <!--** загрузка Select2 и сss ** -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'converter/css/converter.css' %}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static 'converter/css/auth.css' %}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static 'converter/sidebar/menu.css' %}?v={% now 'U' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'converter/favicon.ico' %}">

</head>

<body>

{% include 'auth-window.html' %}

<div class="converter-whole" >
    <button id="menu-btn">☰</button>
    {% include 'sidebar.html' %}

    <div class="converter">
        <button id="izbrannoeBtn" >☆</button>

        <div class="currency-box">
            <!--** первое поле для ввода и выбора валюты ** -->

            <input value=1 class="only_number_input" id="input1" inputmode="decimal" maxlength="20"/>
            <select id="currency1" class="currency-select">
                {% for currency in currencies %}
                    <option value="{{ currency.code }}"
                            {% if currency.code == default_currency_2.code %}selected{% endif %}>
                        {{ currency.code }} — {{ currency.name }}
                    </option>
                {% endfor %}
            </select>
        </div>


        <!--** кнопка для смены местами валют ** -->
        <button class="swap-btn">⇆</button>

        <div class="currency-box">
            <!--** второе поле для ввода и выбора валюты ** -->
            <input id="input2" class="only_number_input" inputmode="decimal" maxlength="20"/>

            <select id="currency2" class="currency-select">
                {% for currency in currencies %}
                    <option value="{{ currency.code }}"
                            {% if currency.code == default_currency_1.code %}selected{% endif %}>
                        {{ currency.code }} — {{ currency.name }}
                    </option>
                {% endfor %}
            </select>
        </div>


    </div>

    <div id="historyList"></div>
    <div id="favouriteList"></div>

</div>

<!-- загружаем в js табличку -->
{{ rates|json_script:"rates-data" }}
{% csrf_token %}

<!-- подключаем скрипты -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- подключаем js -->
<script src="{% static 'converter/csrf.js' %}"></script>
<script>
    window.isAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
</script>
<script type="module"  src="{% static 'converter/sidebar/sidebar.js' %}?v={% now 'U' %}"></script>
<script type="module"  src="{% static 'converter/converter.js' %}?v={% now 'U' %}"></script>
<script type="module"  src="{% static 'converter/history.js' %}?v={% now 'U' %}"></script>
<script type="module"  src="{% static 'converter/updateOutput.js' %}?v={% now 'U' %}"></script>


</body>

</html>
